body {
    max-width: 1200px; /* 最大幅を設定 */
    margin: 0 auto;    /* 中央寄せ */
    width: 100%;       /* 小さい画面でもレイアウトが崩れないようにする */
}

.noto-serif-jp {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
}

header {
    background-color: #1d5715;
    height: 120px;
}


.mainLogo {
    color: #ffffff;
    font-size: 18px;
    width: 75%;
    padding-left: 60px;
    padding-top: 5px;
}

.hederBtn {
    width: 25%;
    padding-top: 28px;
    padding-left: 150px;
}

.btn {
    height: 30px;
    width: 25%;
    font-size: 10px;
}

.btn-primary {
    background-color: #1d5715;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.btn-secondary {
    background-color: #4c4c4c;
    border: 1px solid #4c4c4c;
    border-radius: 8px;
}

.headerListUl {
    display: flex;
    width: 80%;
    margin: 15px auto 0 auto;
}

.headerListUl li {
    width: 18%;
    text-align: center;
    list-style: none;
    color: #ffffff;
    font-size: 13px;
}